html {
  font-size: 16px;
  --accent: #ff2025;
  --secondary: #545454;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

p {
  font-weight: 300;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 96px;
}

h2 {
  font-size: 3.16rem;
}

h3 {
  font-size: 2.37rem;
}

h4 {
  font-size: 1.78rem;
}

h5 {
  font-size: 1.33rem;
}

h6 {
  font-size: 0.75rem;
}

small,
.text-small {
  font-size: 0.56rem;
}
