---
import "@styles/index.scss";

import Hero from "@components/Hero.astro";
import About from "@components/About.astro";
import Skills from "@components/Skills.astro";

import type { Project } from "src/shared/models";
import Work from "@components/Work.astro";
import Availability from "@components/Availability.astro";
import Footer from "@components/Footer.astro";
const projects: Project[] = [
  {
    title: "Travel.ly",
    subtitle: "Find your best trip plan.",
    imageUrl: "https://picsum.photos/1280/720?random=1",
  },
  {
    title: "Framework",
    subtitle: "Machines for the most tech enthusiast.",
    imageUrl: "https://picsum.photos/1280/720?random=2",
  },
  {
    title: "Render.io",
    subtitle: "Create 3D models for your projects.",
    imageUrl: "https://picsum.photos/1280/720?random=3",
  },
  {
    title: "Portfolio",
    subtitle: "Personal architecture portfolio.",
    imageUrl: "https://picsum.photos/1280/720?random=4",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>David Restrepo | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Hero />
    <About />
    <Work projects={projects} />
    <Skills />
    <Availability />
    <Footer />
  </body>

  <script>
    import Lenis from "lenis";
    import ScrollTrigger from "gsap/ScrollTrigger";
    import gsap from "gsap";

    // Initialize a new Lenis instance for smooth scrolling
    const lenis = new Lenis();

    // Synchronize Lenis scrolling with GSAP's ScrollTrigger plugin
    lenis.on("scroll", ScrollTrigger.update);

    // Add Lenis's requestAnimationFrame (raf) method to GSAP's ticker
    // This ensures Lenis's smooth scroll animation updates on each GSAP tick
    gsap.ticker.add((time) => {
      lenis.raf(time * 1000); // Convert time from seconds to milliseconds
    });

    // Disable lag smoothing in GSAP to prevent any delay in scroll animations
    gsap.ticker.lagSmoothing(0);
  </script>
</html>
