---
import "../styles/global.css";

import Hero from "@components/Hero.astro";
import About from "@components/About.astro";
import Footer from "@components/Footer.astro";
import Services from "@components/Services.astro";
import Blob from "@components/Blob.astro";
import Work from "@components/Work.astro";
import Skills from "@components/Skills.astro";
// import Skills from "@components/Skills.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Frontend developer specializing in Angular, GSAP animations, and modern web design."
    />
    <title>David Restrepo | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200">
    <!--  <Intro /> -->
    <!--    <Blob /> -->
    <Hero />
    <About />
    <Work />
    <!--     <Skills /> -->
    <Services />

    <Footer />
  </body><script>
    import Lenis from "lenis";
    import ScrollTrigger from "gsap/ScrollTrigger";
    import gsap from "gsap";

    const lenis = new Lenis();

    lenis.on("scroll", ScrollTrigger.update);

    gsap.ticker.add((time) => {
      lenis.raf(time * 1000);
    });

    gsap.ticker.lagSmoothing(0);
  </script>
</html>
