<section class="container">
  <p style="margin-block: 10rem;" class="main-text">
    With <span class="text-accent">4+ years of experience</span>, I turn complex
    ideas into <span class="text-accent">intuitive</span>, <span
      class="text-accent">high-performing</span
    > web experiences. I merge precise development with a <span
      class="text-accent">deep attention</span
    > to visual detail to create products that are both <span
      class="text-accent">seamless</span
    > and <span class="text-accent">captivating</span>.
  </p>
</section>
