<section class="xl:px-32 p-4 xl:h-screen h-dvh flex items-center" id="about">
  <p class="xl:text-5xl text-2xl" id="about-text">
    With <span class="text-red-500">4+ years of experience</span>, I turn
    complex ideas into <span class="text-red-500">intuitive</span>, <span
      class="text-red-500">high-performing</span
    > web experiences. I merge precise development with a <span
      class="text-red-500">deep attention</span
    > to visual detail to create products that are both <span
      class="text-red-500">seamless</span
    > and <span class="text-red-500">captivating</span>.
  </p>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import SplitText from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);

  const split = SplitText.create("#about-text", { type: "words, chars" });

  gsap.from(split.words, {
    scrollTrigger: {
      trigger: "#about",
      start: "bottom bottom",
      end: "bottom 30%",
      pin: true,
      scrub: 1,
    },
    stagger: 0.5,
    opacity: 0,
  });
</script>
