---
import Button from "./Button.astro";
---

<footer class="footer md:p-20 flex flex-col gap-20 h-screen mt-48">
  <div class="flex w-full h-full gap-16 flex-col md:flex-row">
    <div
      class="box-container xl:text-9xl bg-red-700 flex-1 text-white p-16 grid place-items-center relative text-3xl"
    >
      READY TO WORK?
    </div>
    <div class="flex-1 flex flex-col gap-12 p-4 md:p-0">
      <div class="text-white xl:text-2xl">
        <label for="name" class="text-lg text-gray-400">Name</label>
        <input
          class="border-solid border-b-2 border-b-gray-600 w-full text-white py-3 placeholder:text-gray-600"
          name="name"
          id="name"
          placeholder="John Doe"
        />
      </div>
      <div class="text-white xl:text-2xl">
        <label for="email" class="text-lg text-gray-400">Email</label>
        <input
          class="border-solid border-b-2 border-b-gray-600 w-full text-white py-3 placeholder:text-gray-600"
          name="email"
          id="email"
          placeholder="johndoe@email.com"
        />
      </div>
      <div class="text-white xl:text-2xl">
        <label for="request" class="text-lg text-gray-400"
          >How can I help you?</label
        >
        <input
          class="border-solid border-b-2 border-b-gray-600 w-full text-white py-3 placeholder:text-gray-600"
          name="request"
          id="request"
          placeholder="I would like to request a quotation for..."
        />
      </div>
      <div class="flex justify-end"><Button>Send it!</Button></div>
    </div>
  </div>
  <div class="text-white flex p-4">
    <div class="flex-1">
      <p class="text-sm text-gray-600">Socials</p>
      <a
        class="block"
        href="https://www.instagram.com/ld.res/"
        target="_blank"
        rel="noreferrer noopener">Instagram</a
      >
      <a
        class="block"
        href="https://www.linkedin.com/in/ldavidrh/"
        target="_blank"
        rel="noreferrer noopener">Linkedin</a
      >
      <a
        class="block"
        href="https://github.com/ldavidrh"
        target="_blank"
        rel="noreferrer noopener">Github</a
      >
    </div>
    <div class="flex-1">
      <p class="text-sm text-gray-600">Links</p>
      <a class="block" href="#">About me</a>
      <a class="block" href="#">Work</a>
      <a class="block" href="#">Go Up</a>
    </div>
  </div>
</footer>
<style lang="scss">
  .footer {
    height: 100vh;
    width: 100%;
    background-color: black;
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);

  const box = document.querySelector(".box-container");

  gsap.to(box, {
    scrollTrigger: {
      trigger: "footer",
      start: "top 30%",
    },
    duration: 1,
    ease: "power4.inOut",
    clipPath: "polygon(0 0, 100% 0, 100% 100%, 0 100%)",
  });
</script>

<style>
  .box-container {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
</style>
