---
import Image from "astro/components/Image.astro";
import Photo from "@images/photo.webp";
---

<section class="hero container">
  <p>
    Hi, my name is David Restrepo. <br />
    I'am a <span class="text-accent">Multidisciplinary Web Developer</span>
    based in Cali, Colombia.
  </p>
  <Image src={Photo} alt="Hero image of David" class="img" />
</section>

<style lang="scss">
  .hero {
    font-size: 64px;

    .img {
      object-fit: cover;
      height: 670px;
      margin-top: 4rem;
      border-radius: 16px;
    }
  }
</style>
