<nav class="navbar">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Career</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<style lang="scss">
  .navbar {
    border: 1px red solid;
  }
</style>
