---
const { title, index } = Astro.props;
---

<h1 class="numerated-title">
    {title}
    <span class="numerator">({index})</span>
</h1>

<style lang="scss">
    .numerated-title {
        text-transform: uppercase;
        font-size: 128px;
        font-weight: 500;
        .numerator {
            font-size: medium;
            font-weight: 400;
            position: absolute;
            margin-left: 1rem;
        }
    }
</style>
