---
interface Props {
  title: string;
  subtitle: string;
  imageUrl: string;
}

const { title, subtitle, imageUrl } = Astro.props;
---

<div class="project-card">
  <img src={imageUrl} alt="asdasdasd" class="project-image" />
  <div class="project-footer">
    <p class="project-title">{title}</p>
    <p class="project-subtitle">{subtitle}</p>
  </div>
</div>

<style>
  .project-card {
    width: 100%;
    min-width: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .project-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
  }
  .project-footer {
    padding-block: 16px;
  }

  .project-title {
    font-size: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
  }
  .project-subtitle {
    font-size: clamp(1rem, 0.824rem + 0.751vw, 1.5rem);
    color: var(--secondary);
  }
</style>
