---
interface Props {
  title: string;
  subtitle: string;
  imageUrl: string;
}

const { title, imageUrl } = Astro.props;
---

<div
  class="card enlarge-blob xl:h-screen md:h-[400px] h-[300px] relative overflow-hidden"
>
  <img
    src={imageUrl}
    alt="Cover"
    class="h-full object-cover rounded-2xl hover:brightness-50 duration-200 z-0 flex items-center justify-center"
  />
  <div
    class="slider-container z-10 text-7xl size-full flex items-center absolute top-0 left-0 pointer-events-none"
  >
    <div class="slider whitespace-nowrap text-white flex">
      <span class="pointer-events-none"> {title.concat(" - ").repeat(5)} </span>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  const cards = document.querySelectorAll(".card");

  cards.forEach((card) => {
    const slider = card?.querySelector(".slider")!;

    gsap.set(slider, { opacity: 0 });

    const slideAnimation = gsap
      .to(slider, {
        xPercent: -100,
        duration: 20,
        ease: "linear",
      })
      .pause();

    const fadeAnimation = gsap
      .to(slider, {
        opacity: 1,
        duration: 0.2,
        ease: "linear",
      })
      .pause();

    card.addEventListener("mouseenter", () => {
      slideAnimation.play();
      fadeAnimation.play();
    });
    card.addEventListener("mouseleave", () => {
      fadeAnimation.reverse().then((_) => slideAnimation.pause(0));
    });
  });
</script>
