---
import FigmaIcon from "@images/brand-icons/figma.svg";
import AngularIcon from "@images/brand-icons/angular.svg";
import AstroIcon from "@images/brand-icons/astro.svg";
import SassIcon from "@images/brand-icons/sass.svg";

const icons = [
  { icon: FigmaIcon, color: "#F24E1E" },
  { icon: AstroIcon, color: "#BC52EE" },
  { icon: AngularIcon, color: "#0F0F11" },
  { icon: SassIcon, color: "#CC6699" },
];

const { name, description, isLast } = Astro.props;
---

<div class:list={["service-item", { "is-last": isLast }]}>
  <h3 class="service-name">{name}</h3>
  <div class="description">
    <p class="service-description">
      {description}
    </p>

    <div class="icons">
      {
        icons.map(({ icon: Icon, color }, idx) => (
          <Icon
            width={24}
            height={24}
            style={`color: ${color}; fill: ${color};`}
          />
        ))
      }
    </div>
  </div>
</div>

<style lang="scss">
  .service-item {
    border-top: 1px solid rgb(220, 220, 220);
    padding-block: 18px;
    display: flex;
    justify-content: space-between;
    min-height: 300px;

    .service-name {
      font-size: 64px;
      font-weight: 300;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .service-description {
        max-width: 600px;
        color: #484848;
        font-size: 24px;
      }
      .icons {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .is-last {
    border-bottom: 1px solid rgb(220, 220, 220);
  }
</style>
