---
import ServiceItem from "./ServiceItem.astro";
import TitledSection from "./TitledSection.astro";

const services = [
  {
    name: "UI/UX DESIGN",
    description:
      "We transform your initial concept into a beautiful, intuitive, and user-friendly digital experience. From wireframes to final mockups, we design with your audience in mind to ensure engagement and success.",
  },
  {
    name: "DEVELOP",
    description:
      "Have a design ready to go? We bring it to life with clean, efficient code. Our commitment to pixel-perfect implementation ensures your vision is translated into a fast, responsive, and reliable website or application.",
  },
  {
    name: "FULL PACKAGE",
    description:
      "We transform your initial concept into a beautiful, intuitive, and user-friendly digital experience. From wireframes to final mockups, we design with your audience in mind to ensure engagement and success.",
  },
];
---

<TitledSection
  title="Services"
  subtitle="Looking for a hand? I can provide you help with these..."
>
  <div class="flex lg:flex-row flex-col gap-16 mt-24">
    {
      services.map((service, index) => (
        <ServiceItem
          name={service.name}
          index={index + 1}
          description={service.description}
        />
      ))
    }
  </div>
</TitledSection>
