---
interface Props {
  title: string;
  subtitle?: string;
  cta?: string;
}

const { title, subtitle } = Astro.props;
---

<section class="section-container xl:p-28 px-4 py-16 dark">
  <h2 class="slide-in xl:text-7xl mb-4 overflow-hidden text-4xl">{title}</h2>
  <div class="flex justify-between items-end w-full">
    {
      subtitle ? (
        <div class="overflow-hidden w-full h-fit flex-1">
          <p class="slide-in xl:text-2xl text-sm text-gray-500 w-1/2 ">
            {subtitle}
          </p>
        </div>
      ) : null
    }
    <!--  {
      cta ? (
        <div class="py-3 px-6 flex gap-6 bg-black rounded-2xl text-white size-fit items-center cursor-pointer">
          <span class="text-2xl font-thin">{cta}</span>
          <div class="rounded-full size-10 bg-white text-black grid place-items-center">
            →
          </div>
        </div>
      ) : null
    } -->
  </div>
  <slot />
</section>

<script>
  import gsap from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  const containers = document.querySelectorAll(".section-container");

  containers.forEach((container) => {
    const text = container.querySelectorAll(".slide-in");

    text.forEach((text) => {
      const split = new SplitText(text);

      split.lines.forEach((line) =>
        gsap.set(line, {
          overflowY: "hidden",
        })
      );

      gsap.from(split.words, {
        scrollTrigger: {
          trigger: container,
          start: "top bottom",
        },
        ease: "power4.inOut",
        duration: 1.5,
        yPercent: 100,
      });
    });
  });
</script>
