---
import type { Project } from "@shared/models";
import ProjectCard from "./ProjectCard.astro";

interface Props {
  projects: Project[];
}
const { projects } = Astro.props;
---

<section class="work container">
  <h1 class="title">Work</h1>
  <p class="subtitle">
    See a list of curated works, from web apps to beautifully styled landing
    pages, these projects showcase the passion and quality of my final
    deliveries.
  </p>
  <div class="project-list">
    {
      projects.map((project: Project) => (
        <ProjectCard
          title={project.title}
          subtitle={project.subtitle}
          imageUrl={project.imageUrl}
        />
      ))
    }
  </div>
</section>

<style>
  .work {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    row-gap: 72px;
    column-gap: 24px;
  }
</style>
