---
import type { Project } from "@shared/models";
import TitledSection from "./TitledSection.astro";
import ProjectCard from "./ProjectCard.astro";

const projects: Project[] = [
  {
    title: "Travel.ly",
    subtitle: "Find your best trip plan.",
    imageUrl: "https://picsum.photos/1280/720?random=1",
  },
  {
    title: "Framework",
    subtitle: "Machines for the most tech enthusiast.",
    imageUrl: "https://picsum.photos/1280/720?random=2",
  },
  {
    title: "Render.io",
    subtitle: "Create 3D models for your projects.",
    imageUrl: "https://picsum.photos/1280/720?random=3",
  },
  {
    title: "Portfolio",
    subtitle: "Personal architecture portfolio.",
    imageUrl: "https://picsum.photos/1280/720?random=4",
  },
];
---

<div>
  <TitledSection
    title={"Work"}
    subtitle={"See a list of curated works, from web apps to beautifully styled landing pages, these projects showcase the passion and quality of my final deliveries."}
  >
    <div class="mt-5 h-fit grid gap-4 grid-cols-2">
      {
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            subtitle={project.subtitle}
            imageUrl={project.imageUrl}
          />
        ))
      }
    </div>
  </TitledSection>
</div>
